@model IEnumerable<EntityLayer.Concrete.Comment>
<div class="comment-top">
<h4>Yorumlar</h4>
@foreach (var item in Model)
    {
    <div class="media">
        <img src="~/images/t1.jpg" alt="" class="img-fluid" />
        <div class="media-body">
            <h5 class="mt-0">@item.CommentUserName || @(((DateTime)item.CommentDate).ToString("dd.MM.yyyy"))</h5>
            <p>@item.CommentContent</p>
        </div>
    </div>

    }
</div>